body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  background-color: silver;
}

nav img {
  width: 100px;
}

#hero-section {
  background-color: gray;
  display: flex;
}

#highlights-section {
  background-color: silver;
}

#testimonials-section {
  background-color: black;
  color: white;
}

#about-section {
  background-color: white;
}

footer {
  display: flex;
  background-color: gold;
}

footer div {
  margin: 10px;
  padding: 10px;
}

footer img {
  width: 150px;
  margin: 10px;
  padding: 10px;
}

.navmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navmenu li {
  float: left;
}

.navmenu li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}